* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: rgb(138, 43, 226);
  display: flex;
  flex-flow: column;
  font-family: "Roboto", Helvetica, sans-serif;
  height: 100vh;
  padding: 10px;
  width: 100vw;
}
.w-100{
	width:100%
}
header {
  align-items: center;
  color: white;
  display: flex;
  height: 60px;
  justify-content: center;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 40px;
}

.lists .list {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex: 0 0 100%;
  flex-flow: column;
  height: 80vh;
  max-width: calc((100% - 20px) / 3);
  min-height: 150px;
  padding: 10px;
  transition: all 0.2s linear;
  overflow-y: scroll;
}

.lists .list .list-item {
  background-color: #f3f3f3;
  border-radius: 8px;
  margin: 4px 0px;
  padding: 15px 20px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.list-item label {
  font-size: 16px;
}
.list-header {
  align-items: center;
  background-color: rgb(160, 92, 224);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 4px 0px;
  padding: 15px 20px;
  text-align: center;
  width: 100%;
}
.list-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.list-review-input-box, 
.list-pending-input-box,
.list-completed-input-box {
  display: none;
}
input {
  flex: 0 0 100%;
  max-width: calc(100% - 25%);
  background-color: #f3f3f3;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 15px 20px;
  text-align: center;
  width: 100%;
  text-align: start !important;
}
input:hover {
  outline: none;
}

.list-edt-del {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  flex: 0 0 100%;
  max-width: calc(100% - 80%);
}
.list-submit button {
  font-size: 20px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.list-edt-del button {
  font-size: 10px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: blueviolet;
  margin-bottom: 5px;
  color: white;
}
.list-header button {
  background-color: blueviolet;
  border: none;
  border-radius: 20%;
  color: white;
  cursor: pointer;
  font-size: 25px;
  font-weight: bolder;
  height: 30px;
  width: 30px;
}
