
.postbox{
    padding: 15px;
    box-shadow: 1px 4px 4px 4px gray;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 2px;
    margin: 8px .5%;
}
.user_pic_post{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.post_username{
    /* font-size: 40px; */
    margin: 15px 5px;
    font-weight: bolder;
}
.post_username2{
    font-size: 30px;
    margin: 15px 5px;
    font-weight: bolder;
}
.post_pic{
    /* height:30rem; */
}
.post_txt{
    text-align: justify;
    margin-left: 3%;
}
.postcontnt{
    display: flex;
    justify-content: space-between;


}
.upperarea{
    display: flex;
    justify-content: space-between;
}
.adpostmargin{
    margin-top: 120px;
}
.addpostpage{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2% 1%;
}
.posttext{
    padding: 10px;
    font-size: 20px;
    margin: 2% 0%;
    width: 92%;
    border: 1px solid gray;
    height: 40vh;
    border-radius: 5px;
}
.posttitle{
    padding: 10px;
    font-size: 25px;
    width: 92%;
    border: 1px solid gray;
    height: 5vh;
    border-radius: 5px;
}
.posttitledit{
    padding: 10px;
    font-size: 15px;
    width: 90%;
    border: 1px solid gray;
    height: 5vh;
    border-radius: 5px;
}
@media screen and (max-width:600px) {
    .posttitle{
        padding: 5px;
        font-size: 15px;
        width: 90%;
        border: 1px solid gray;
        height: 5vh;
        border-radius: 5px;
    }
    .posttext{
        padding: 5px;
        font-size: 10px;
        margin: 2% 0%;
        width: 90%;
        border: 1px solid gray;
        height: 40vh;
        border-radius: 5px;
    }
    .postbox{
        font-size: 15px;
        padding: 15px;
        box-shadow: 1px 1px 1px 1px gray;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        border-radius: 0px;
        margin: 8px .5%;
    }
    
    
}

