.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainCard{
  width: 20vw;
  text-align: left;
  box-shadow: 0px 4px 8px rgb(0, 0, 0,0.5);
  font-size: 1.5vw;
  padding: 2%;
  margin: 1.5vw;
  border-radius: 1vw;
}

.specialDiscountcard{
  width: 50vw;
  height: 2.5vw;
  text-align: center;
  box-shadow: 0px 4px 8px rgb(0, 0, 0,0.5);
  font-size: 1.5vw;
  padding-top: 2%;
  padding-bottom: 1%;
  display: inline-block;
}
.hollowbtnblack{
  border-radius: 15px;
  border: 2px solid black;
  width: 12vw;
  font-size: 1vw;
  padding: 5px;
  color: black;
}
.darkbtn{
  border-radius: 5px;
  background-color: #61dafb;
  border: 2px solid #61dafb;
  width: 6vw;
  font-size: 1vw;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
}
.buton1{
  border-radius: 5px;
  border: 2px solid #61dafb;
  width: 12vw;
  font-size: 1vw;
  padding: 5px;
  color: #61dafb;
}
.buton2{
  color: white;
  background-color: black;
  text-align: center;
  border-radius: 25px;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin: 5%;
}
.termsBtn{
  color: gray;
  font-size: 1vw;
}
.questions{
  width: 400px;
  text-align: left;
  justify-content: space-between;
  display: flex;
}