@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbg{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10px;
  height:50px;
  background-color:#0d6efd;
  display:flex;
}
.flipkartlogo{
  display:inline-block
  
}
.flipkartlogoimg{
  width:5rem;
  float:left
}


.loginbtn{
  /* padding:10px; */
  display:inline-block;
  width:100px;
  height:30px;
  text-align:center;
  background-color:white;
  vertical-align: middle;
}
.hearderOptionBg{
  padding: 0 5% 0 5% ;
  display:flex;
  align-items:center;
  justify-content:space-between
}
.headeroptionlogos{
  width: 50px;
}
.searchBar{
  background-color: white;
  display: inline-block;
  border: 1px solid blue;
  height: 33px;
  padding-top: 2px ;
  padding-bottom: 2px;
  margin-left: 2%;
  margin-right: 2%;
  /* width:100px */
}
.loginBtn{
  height: 30px;
  /* border-radius: 5px; */
  border: 1px solid #0d6efd;
  color: #0d6efd;
  padding-left: 20px;
  padding-right: 20px;


}
.sellermore{
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
  display: inline-block;
}